<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.armsmart.jupiter.bs.api.dao.ArtPicInfoMapper">

	<resultMap id="baseResultMap" type="com.armsmart.jupiter.bs.api.entity.ArtPicInfo">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="artId" jdbcType="BIGINT" column="art_id"/>
        <result property="picUrl" jdbcType="VARCHAR" column="pic_url"/>
        <result property="picMd5" jdbcType="VARCHAR" column="pic_md5"/>
        <result property="createTime" jdbcType="BIGINT" column="create_time"/>
        <result property="updateTime" jdbcType="BIGINT" column="update_time"/>
        <result property="isDel" jdbcType="BIT" column="is_del"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,art_id,pic_url,pic_md5,create_time,update_time,is_del
	    ]]>
	</sql>
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.armsmart.jupiter.bs.api.entity.ArtPicInfo" useGeneratedKeys="true" keyProperty="id">
		insert into art_pic_info
		(art_id,pic_url,pic_md5,create_time,update_time,is_del)
		values (
		#{artId,jdbcType=BIGINT},
		#{picUrl,jdbcType=VARCHAR},
		#{picMd5,jdbcType=VARCHAR},
		#{createTime,jdbcType=BIGINT},
		#{updateTime,jdbcType=BIGINT},
		#{isDel,jdbcType=BIT}
		)
	</insert>
	<!-- 更新数据 包含null-->
	<update id="update" parameterType="com.armsmart.jupiter.bs.api.entity.ArtPicInfo" >
		update art_pic_info
		<set>
			art_id = #{artId,jdbcType=BIGINT},
			pic_url = #{picUrl,jdbcType=VARCHAR},
			pic_md5 = #{picMd5,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=BIGINT},
			update_time = #{updateTime,jdbcType=BIGINT},
			is_del = #{isDel,jdbcType=BIT}
		</set>
		WHERE id = #{id}
	</update>
	<!-- 更新数据，不包含null -->
	<update id="updateSelective" parameterType="com.armsmart.jupiter.bs.api.entity.ArtPicInfo" >
		update art_pic_info
		<set>
			<if test="artId != null">
				art_id = #{artId,jdbcType=BIGINT},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="picMd5 != null">
				pic_md5 = #{picMd5,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=BIGINT},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=BIT}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- 物理删除 -->
	<delete id="physicalDelByArtId">
		delete from art_pic_info
		where art_id = #{artId}
	</delete>

	<!-- 主键条件查询 -->
	<select id="selectById" resultMap="baseResultMap">
		select
		<include refid="columns"/>
		from art_pic_info
		WHERE id = #{id}
	</select>

	<!-- 列表条件查询count -->
	<select id="selectList_COUNT" resultType="java.lang.Long">
		select count(*)
		from art_pic_info
		<include refid="whereSql"/>
	</select>

	<!-- 列表条件查询 -->
	<select id="selectList" resultMap="baseResultMap">
		select
		<include refid="columns"/>
		from art_pic_info
		<include refid="whereSql"/>
		<include refid="orderSql"/>
	</select>
    
    <sql id="whereSql">
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="artId != null">
				and art_id = #{artId}
			</if>
			<if test="picUrl != null and picUrl != ''">
				and pic_url = #{picUrl}
			</if>
			<if test="picMd5 != null and picMd5 != ''">
				and pic_md5 = #{picMd5}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
			<if test="isDel != null">
				and is_del = #{isDel}
			</if>
		</where>
	</sql>
    <sql id="orderSql">
    	<choose>
			<when test="orderBy != null and orderBy != ''">
				order by 
		    	<if test="orderBy == 'id'">
				id ${orderSort}
				</if>
		    	<if test="orderBy == 'artId'">
				art_id ${orderSort}
				</if>
		    	<if test="orderBy == 'picUrl'">
				pic_url ${orderSort}
				</if>
		    	<if test="orderBy == 'picMd5'">
				pic_md5 ${orderSort}
				</if>
		    	<if test="orderBy == 'createTime'">
				create_time ${orderSort}
				</if>
		    	<if test="orderBy == 'updateTime'">
				update_time ${orderSort}
				</if>
		    	<if test="orderBy == 'isDel'">
				is_del ${orderSort}
				</if>
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
    </sql>
</mapper>

