<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.armsmart.jupiter.bs.api.dao.ArtTypeMapper">

	<resultMap id="baseResultMap" type="com.armsmart.jupiter.bs.api.entity.ArtType">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="lever" jdbcType="INTEGER" column="lever"/>
        <result property="typeName" jdbcType="VARCHAR" column="type_name"/>
        <result property="parentId" jdbcType="INTEGER" column="parent_id"/>
        <result property="createTime" jdbcType="BIGINT" column="create_time"/>
        <result property="updateTime" jdbcType="BIGINT" column="update_time"/>
        <result property="isDel" jdbcType="BIT" column="is_del"/>
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,lever,type_name,parent_id,create_time,update_time,is_del
	    ]]>
	</sql>
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.armsmart.jupiter.bs.api.entity.ArtType" useGeneratedKeys="true" keyProperty="id">
		insert into art_type
		(lever,type_name,parent_id,create_time,update_time,is_del)
		values (
		#{lever,jdbcType=INTEGER},
		#{typeName,jdbcType=VARCHAR},
		#{parentId,jdbcType=INTEGER},
		#{createTime,jdbcType=BIGINT},
		#{updateTime,jdbcType=BIGINT},
		#{isDel,jdbcType=BIT}
		)
	</insert>
	<!-- 更新数据 包含null-->
	<update id="update" parameterType="com.armsmart.jupiter.bs.api.entity.ArtType" >
		update art_type
		<set>
			lever = #{lever,jdbcType=INTEGER},
			type_name = #{typeName,jdbcType=VARCHAR},
			parent_id = #{parentId,jdbcType=INTEGER},
			create_time = #{createTime,jdbcType=BIGINT},
			update_time = #{updateTime,jdbcType=BIGINT},
			is_del = #{isDel,jdbcType=BIT}
		</set>
		WHERE id = #{id}
	</update>
	<!-- 更新数据，不包含null -->
	<update id="updateSelective" parameterType="com.armsmart.jupiter.bs.api.entity.ArtType" >
		update art_type
		<set>
			<if test="lever != null">
				lever = #{lever,jdbcType=INTEGER},
			</if>
			<if test="typeName != null">
				type_name = #{typeName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=BIGINT},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=BIT}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- 主键条件查询 -->
	<select id="selectById" resultMap="baseResultMap">
		select
		<include refid="columns"/>
		from art_type
		WHERE id = #{id}
	</select>

	<!-- 列表条件查询count -->
	<select id="selectList_COUNT" resultType="java.lang.Long">
		select count(*)
		from art_type
		<include refid="whereSql"/>
	</select>

	<!-- 列表条件查询 -->
	<select id="selectList" resultMap="baseResultMap">
		select
		<include refid="columns"/>
		from art_type
		<include refid="whereSql"/>
		<include refid="orderSql"/>
	</select>


	<!-- 列表条件查询 -->
	<select id="selectListById" resultMap="baseResultMap">
		select
		<include refid="columns"/>
		from art_type
		where parent_id = #{id}
		and is_del = 0
	</select>
    
    <sql id="whereSql">
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="lever != null">
				and lever = #{lever}
			</if>
			<if test="typeName != null and typeName != ''">
				and type_name = #{typeName}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
			<if test="isDel != null">
				and is_del = #{isDel}
			</if>
		</where>
	</sql>
    <sql id="orderSql">
    	<choose>
			<when test="orderBy != null and orderBy != ''">
				order by 
		    	<if test="orderBy == 'id'">
				id ${orderSort}
				</if>
		    	<if test="orderBy == 'lever'">
				lever ${orderSort}
				</if>
		    	<if test="orderBy == 'typeName'">
				type_name ${orderSort}
				</if>
		    	<if test="orderBy == 'parentId'">
				parent_id ${orderSort}
				</if>
		    	<if test="orderBy == 'createTime'">
				create_time ${orderSort}
				</if>
		    	<if test="orderBy == 'updateTime'">
				update_time ${orderSort}
				</if>
		    	<if test="orderBy == 'isDel'">
				is_del ${orderSort}
				</if>
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
    </sql>
</mapper>

